{% extends 'base.html.twig' %}

{% block title %}nos-produits{% endblock %}

{% block content%}
<h1>nos-produits</h1>
    <div class="btn btn-dark mb-4"><i class="fas fa-stream"></i>  filtrer</div>
    {{ form(form) }}
    <div class="row">
    {% for product in products %}
        <div class="col-md-4 text-center">
         <div class="product-ithem">
             <a href="{{ path('product',{'slug':product.slug }) }}"><img src="/uploads/{{ product.illustration }}" alt="" class="img-fluid"></a>
             <h4>{{ product.name }}</h4>
             <p>{{ product.subtitle }}</p>
             <span>{{ (product.price/100)|number_format(2,'.',',') }}€</span>
         </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
