{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block content %}
    <h1>Ma commande  {{ order.reference }}</h1>
    <strong>Commande passée le :</strong>{{ order.createdAt|date('d/m/Y') }}<br>
    <strong>Reference :</strong><small>{{ order.reference }}</small><br>
    <strong>Reference :</strong>{{ order.carriername }}<br>
    <hr>
    <strong>Details</strong>

    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
            {{ dump(product) }}
            <tr>
                <th scope="row">{{ product.product }}</th>
                <td class="pl-4">   {{ product.quantity }}</td>
                <td>{{ (product.price /100)|number_format(2,'.',',')}} €</td>
                <td>{{ (product.total /100)|number_format(2,'.',',')}} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <strong>Sous-Total :</strong>{{ (order.getTotal /100)|number_format(2,'.',',')}} € <br>
        <strong>Livraison :</strong>{{ (order.carrierPrice /100)|number_format(2,'.',',')}} € <br>
        <strong>Total :</strong>{{ ((order.carrierPrice + order.getTotal)/100)|number_format(2,'.',',')}} €<br>
    </div>
    <a href="{{ path('account') }}">retour</a>
{% endblock %}
