{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block content %}
    {% if cart|length > 0 %}
    <h1>mon panier</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set total = null %}
        {% for product in cart %}

        <tr>
            <th>
                <img src="/uploads/{{ product.product.illustration }}" alt="" style="height: 75px">
            </th>
            <td>
                {{ product.product.name }}<br>
                <small>{{ product.product.subtitle}}</small>
            </td>
            <td>
                <a href="{{ path('decrease-from-cart',{'id':product.product.id}) }}"><i class="fas fa-minus-circle"></i></a>
                x {{ product.quantity }}
                <a href="{{ path('add-to
                -cart',{'id':product.product.id}) }}"><i class="fas fa-plus-circle"></i></a>
            </td>
            <td>{{ (product.product.price/100)|number_format(2,'.',',') }} €</td>
            <td>{{ ((product.quantity *product.product.price)/100)|number_format(2,'.',',') }} €</td>
            <td><a href="{{ path('delete-from-cart',{'id': product.product.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
            {% set total = total+(product.quantity *product.product.price) %}
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right ">

     <b >nombres des produit : {{ cart|length }}</b><br>

      <b >total de mon panier : {{ ((total)/100)|number_format(2,'.',',') }} €</b>
    </div>
        <a href="" class="btn btn-block btn-secondary mt-3">valider mon panier</a>
{% else %}
    <div class="mt-5">
        <h1 class="mt-5">Votre panier est vide ! </h1>
    </div>
    {% endif %}
{% endblock %}
